<!DOCTYPE html>
<html>
    <head>
		<center>
		
		</center>
		<title>Nota Medica</title>
		<link rel="stylesheet" href="css/formulario.css">
		
    </head>
    <body>
<div class="contenedor">
	<h1>Nota Medica_Versión con Git-Hub</h1>
	<div class="contenedor_1">
	<!– Linea 1 —>
		<div style="width: 150px; height: 25px;" class="box_1"><b>Nombre del paciente:</b></div> 
		<div style="width: 350px; height: 25px;" class="box_1"><input style="width: 340px; height: 19px;" type="text"/></div> 
		<div style="width:  40px; height: 25px;" class="box_1"><b>Sexo:</b></div> 
		<div style="width:  85px; height: 25px;" class="box_1"> 
			<select><option value="Femenino">Femenino</option><option value="Masculino">Masculino</option></select> 
		</div>
		<br>
	<!– Linea 2 —>
		<div style="width:  50px; height: 25px border: 1px solid;" class="box_1"><b>Edad:</b></div>
		<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
		<div style="width:  50px; height: 25px border: 1px solid;" class="box_1"><b>Años</b></div>
		<div style="width: 150px; height: 25px border: 1px solid;" class="box_1"><b>Fecha de Nacimiento:</b></div>
		<div style="width: 100px; height: 15px border: 1px solid;" class="box_1"><input style="width: 94px; height: 11px;" type="text"/></div>
		<div style="width: 100px; height: 25px border: 1px solid;" class="box_1"><b>Originario de:</b></div>
		<div style="width: 119px; height: 25px border: 1px solid;" class="box_1"><input style="width: 110px; height: 11px;" type="text"/></div>
		<br>
	<!– Linea 3 —>	
		<div style="width: 100px; height: 25px border: 1px solid;" class="box_1"><b>Domicilio:</b></div>
		<div style="width: 300px; height: 25px border: 1px solid;" class="box_1"><input style="width: 290px; height: 11px;" type="text"/></div>
		<div style="width: 100px; height: 25px border: 1px solid;" class="box_1"><b>Estado Civil:</b></div>
		<div style="width: 125px; height: 25px border: 1px solid;" class="box_1"><input style="width: 115px; height: 11px;" type="text"/></div>
		<br>
	<!– Linea 4 —>	
		<div style="width: 100px; height: 25px border: 1px solid;" class="box_1"><b>Vive con:</b></div>
		<div style="width: 529px; height: 25px border: 1px solid;" class="box_1"><input style="width: 520px; height: 11px;" type="text"/></div>
		
		<br>
	<!– Linea 5 —>	
		<div style="width:  90px; height: 25px border: 1px solid;" class="box_1"><b>Escolaridad:</b></div>
		<div style="width: 125px; height: 25px border: 1px solid;" class="box_1"><input style="width: 115px; height: 11px;" type="text"/></div>
		<div style="width:  70px; height: 25px border: 1px solid;" class="box_1"><b>Religión:</b></div>
		<div style="width: 125px; height: 25px border: 1px solid;" class="box_1"><input style="width: 119px; height: 11px;" type="text"/></div>
		<div style="width:  80px; height: 25px border: 1px solid;" class="box_1"><b>Ocupación:</b></div>
		<div style="width: 131px; height: 25px border: 1px solid;" class="box_1"><input style="width: 122px; height: 11px;" type="text"/></div>
		<br>
	<!– Linea 6 —>	
		<div style="width: 150px; height: 25px border: 1px solid;" class="box_1"><b>Recursos Medicos:</b></div>
		<div style="width: 250px; height: 25px border: 1px solid;" class="box_1"><input style="width: 240px; height: 11px;" type="text"/></div>
		<div style="width:  80px; height: 25px border: 1px solid;" class="box_1"><b>Celular:</b></div>
		<div style="width: 145px; height: 25px border: 1px solid;" class="box_1"><input style="width: 135px; height: 11px;" type="text"/></div>
		</div>
	<!– Logotipo —>	
		
		<div class="logo">
			<img src="img/siguemed.jpg">
			
		</div>
		
		<br><br><br><br><br><br><br><br><br><br>
		
	<!– Parte 2 —>		
	
		<div class="contenedor_2">
			<div style="width: 170px; height: 25px border: 1px solid;" class="box_1"><b>Familiar Responsable: </b></div>
			<div style="width: 625px; height: 25px border: 1px solid;" class="box_1"><input style="width: 615px; height: 11px;" type="text"/></div>
			<br>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>SOMATOMETRÍA Y SIGNOS VITALES</center></b></div>
			<div style="width:  40px; height: 25px border: 1px solid;" class="box_1"><b>Peso:</b></div>
			<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
			<div style="width:  25px; height: 25px border: 1px solid;" class="box_1"><b>Kg</b></div>
			<div style="width:  40px; height: 25px border: 1px solid;" class="box_1"><b>Talla:</b></div>
			<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
			<div style="width:  30px; height: 25px border: 1px solid;" class="box_1"><b>Mts</b></div>
			<div style="width:  35px; height: 25px border: 1px solid;" class="box_1"><b>T/A:</b></div>
			<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
			<div style="width:  55px; height: 25px border: 1px solid;" class="box_1"><b>Mm/Hg</b></div>
			<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
			<div style="width:  20px; height: 25px border: 1px solid;" class="box_1"><b>T:</b></div>
			<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
			<div style="width:  20px; height: 25px border: 1px solid;" class="box_1"><b>C</b></div>
			<div style="width:  30px; height: 25px border: 1px solid;" class="box_1"><b>FC:</b></div>
			<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
			<div style="width:  40px; height: 25px border: 1px solid;" class="box_1"><b>L/M</b></div>
			<div style="width:  30px; height: 25px border: 1px solid;" class="box_1"><b>FR:</b></div>
			<div style="width:  50px; height: 15px border: 1px solid;" class="box_1"><input style="width: 40px; height: 11px;" type="text"/></div>
			<div style="width:  46px; height: 25px border: 1px solid;" class="box_1"><b>R/M</b></div>
		</div>
		
		<div class="contenedor_3">
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1" id=""><b><center>ANTECEDENTES HEREDO-FAMILIARES:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>ANTECEDENTES PERSONALES PATOLOGICOS:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>ANTECEDENTES PERSONALES NO PATOLOGICOS:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>ANTECEDENTES GINECOLOGICOS Y  SEXUALES RELEVANTES:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>PRINICPIO, EVOLUCION Y ESTADO ACTUAL:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>EXPLORACION FISICA:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>ESTUDIOS DE LABORATORIO Y GABINETE:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>EDIAGNOSTICO (S):</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>PLANES:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="3" cols="96"></textarea> </div>
			<br>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"><b><center>SEGUIMIENTO:</center></b></div>
			<div style="width: 797px; height: 25px border: 1px solid;" class="box_1"> <textarea rows="5" cols="96"></textarea> </div>
		</div>
</div>		
		
	</body>
</html>